body {color:tomato; font-family:"Comic Sans"; text-align:center; font-weight:bold; line-height:15px;}
h1 {color:#33E2FF; font-size:48px; line-height:44px;}
h2 {color:#53EB4A; font-size:20px;}
h3 {color:#000000;}
