body {color:tomato; font-family:"Book Antiqua"; text-align:center; font-weight:bold;}
h1 {font-size:48px; border-bottom:2px double red; line-height:10px;}
h2 {font-size:20px; line-height:10px}
h3 {color:#000000;}
