body {color:tomato; font-family:"Comic Sans"; text-align:center; font-weight:bold; line-height:15px;}
h1 {color:#2FD6F5; font-size:48px; line-height:44px;}
h2 {color:#4CD444; font-size:20px;}
.a {color:#E02E8B;}
